@function border($color) {
  @return 1px solid $color;
}

@mixin shadow($px, $alpha) {
  -webkit-box-shadow: 0px 0px 7px $px rgba(34, 60, 80, $alpha);
  -moz-box-shadow: 0px 0px 7px $px rgba(34, 60, 80, $alpha);
  box-shadow: 0px 0px 7px $px rgba(34, 60, 80, $alpha);
}

$deviceBorderBlack: border(#000);
$deviceBorderWhite: border(#fff);

.black {
  .group-wrapper:first-child {
    .device__group,
    .group-devices .device:first-child {
      border-left: $deviceBorderBlack;
      border-right: $deviceBorderBlack;
    }
  }
  .group-devices {
    border-top: $deviceBorderBlack;
  }
  .device__group {
    border-right: $deviceBorderBlack;
    border-left: $deviceBorderBlack;
    border-top: $deviceBorderBlack;
  }
  .device {
    border: $deviceBorderBlack;
    border-top: none;
  }
  .device__module:last-child {
    border: none;
  }
  .device__id {
    border-top: $deviceBorderBlack;
  }
  .device__warning {
    border: $deviceBorderBlack;
    border-bottom: none;
    &-hide {
      border: none;
    }
  }
  .device__module {
    border-right: $deviceBorderBlack;
  }
}

.black.sequence {
  .group-wrapper .warning-wrapper {
    border-top: $deviceBorderBlack;
  }
  .device__group {
    border-top: none;
  }
  .device {
    border-bottom: none;
    border-top: $deviceBorderBlack;
  }
  .device__id {
    border: none;
    border-bottom: $deviceBorderBlack;
  }
  .device__warning {
    border-bottom: $deviceBorderBlack;
  }
  .device__warning-hide {
    border-bottom: none;
  }
}

.black.groups {
  .group-devices {
    border-top: none;
  }
}

.white {
  .group-wrapper:first-child {
    .device__group,
    .group-devices .device:first-child {
      border-left: $deviceBorderWhite;
    }
  }
  .group-devices {
    border-top: $deviceBorderWhite;
  }
  .device__group {
    border-right: $deviceBorderWhite;
    border-left: $deviceBorderWhite;
    border-top: $deviceBorderWhite;
  }
  .device {
    border: $deviceBorderWhite;
    border-top: none;
  }
  .device__module:last-child {
    border: none;
  }
  .device__id {
    border-top: $deviceBorderWhite;
  }
  .device__warning {
    border: $deviceBorderWhite;
    border-bottom: none;
    &-hide {
      border: none;
    }
  }
  .device__module {
    border-right: $deviceBorderWhite;
  }
}

.white.sequence {
  .group-wrapper .warning-wrapper {
    border-top: $deviceBorderWhite;
  }
  .device__group {
    border-top: none;
  }
  .device {
    border-bottom: none;
    border-top: $deviceBorderWhite;
  }
  .device__id {
    border: none;
    border-bottom: $deviceBorderWhite;
  }
  .device__warning {
    border-bottom: $deviceBorderWhite;
  }
  .device__warning-hide {
    border-bottom: none;
  }
}

.white.groups {
  .group-devices {
    border-top: none;
  }
}

.paper-format {
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;

  &__field {
    margin: 0 15px 0 0;
  }

  &__button {
    margin: 2px 5px;
    padding: 2px 5px;
    cursor: pointer;
  }

  &__input {
    width: 50px;
    margin: 0 0 0 5px;
    padding: 2px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.total-height {
  display: inline-block;
  margin-right: 10px;
  padding: 4px;
  background: #fbedcb;
  border: 1px gray dotted;

  &__value {
    padding: 0 3px;
  }

  &__block {
    display: inline-block;
    padding: 0 5px;
  }
}

.print {
  width: 287mm;
  height: 200mm;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 0 0;

  &:hover {
    .button {
      display: block;
    }
  }
}

.devices-wrapper {
  position: relative;
  overflow-x: scroll;
  display: flex;
}

.group-wrapper {
  display: flex;
  flex-direction: column;
  border-left: none;
  margin-bottom: 40px;
  font-size: inherit;
  margin-left: -1px;

  &:first-child .rulers-wrapper {
    margin-left: 0;
  }
}

.warning-wrapper {
  display: flex;
  font-size: inherit;
}

.group-devices {
  display: flex;
  flex-wrap: nowrap;
  font-size: inherit;
  width: 100%;

  .device:first-child {
    margin-left: 0;
  }
}

.rulers-wrapper {
  display: flex;
  margin: 10px 0;

  .rulers:first-child {
    .ruler {
      margin-left: 0;
    }
  }
}

.controls {
  margin: 10px 10px 0;
  padding: 0 0 10px 0;
  display: flex;
  flex-wrap: nowrap;
}

.buttons-top {
  display: flex;
  flex-wrap: wrap;
  width: 410px;
  margin: 12px 0 0 0;

  .button {
    padding: 3px;
    cursor: pointer;

    &-wrapper {
      display: inline-block;
      position: relative;
      margin: 2px;
    }
  }
}

.buttons-container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;

  &-document {
    flex-wrap: wrap;
    justify-content: center;
    width: 125px;

    .button {
      margin: 2px;
      padding: 3px;
      width: 100%;
      cursor: pointer;
    }

    .project-name-input {
      padding: 2px;
      margin: 2px;
      width: 100%;
    }
  }
}

.buttons-section {
  position: relative;
  margin: 0 20px 0 0;

  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 85px;
    background: rgba(128, 128, 128, 0.578);
    top: 10px;
    right: -10px;
  }

  &:last-child {
    margin: 0;
    &:after {
      display: none;
    }
  }
}

.buttons-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 9pt;
}

.buttons-font-size-wrapper {
  display: flex;
  // margin: 12px 0 0 0;
  position: absolute;
  bottom: 3px;
  right: 0;

  .font-up,
  .font-down {
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid gray;
    border-radius: 3px;
    width: 21px;
    height: 21px;
    cursor: pointer;

    &:hover {
      border-color: rgb(96, 96, 96);
      background-color: #e0e0e0;
    }
  }

  .font-up {
    background-image: url(./images/font-buttons/font-up.svg);
  }

  .font-down {
    background-image: url(./images/font-buttons/font-down.svg);
  }

  .font-number {
    font-size: 9pt;
    padding: 5px 5px 0;
  }
}

.displaying-checkboxes {
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.displaying-checkbox {
  margin: 0 5px 2px 0;
  display: inline-flex;
  cursor: pointer;

  &-input {
    margin-right: 2px;
    cursor: pointer;
  }
}

.buttons-file {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 12px 0 0 0;
  width: 115px;

  .button {
    padding: 3px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
  }
}

.buttons-print {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  width: 160px;

  .button {
    margin: 2px;
    padding: 2px;
    width: 50%;
    cursor: pointer;
  }

  .displaying-checkbox {
    margin: 4px 6px 8px 2px;
  }
}

.upload-button {
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    border-color: rgb(96, 96, 96);
    background-color: #e0e0e0;
  }
}

.upload-file-input {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.lengths {
  margin: 2px 10px 0 10px;
}

.devices {
  @include shadow(0px, 0.11);
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  background: #fff;
  padding: 10mm 5mm;
  margin: 7px 10px;
  &:hover {
    .rulers {
      display: flex;
    }
    .devices__add {
      display: flex;
    }
  }

  &__add {
    align-self: center;
    &-btn {
      width: 30px;
      height: 30px;
      margin: 10px;
      margin-bottom: 60px;
      border-radius: 50%;
      border: transparent;
      cursor: pointer;
      font-size: 24px;
      color: #7c7c7c;
    }
  }

  .ruler:last-child:after {
    content: '';
    position: absolute;
    right: -1px;
    top: -5px;
    background: gray;
    width: 1px;
    height: 10px;
    z-index: 1;
  }
}

.device {
  width: 18mm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  font-size: inherit;
  margin-left: -1px;
  position: relative;

  &:hover {
    .addDeviceBefore-btn {
      opacity: 1;
    }
  }

  &__group,
  &__point,
  &__switch,
  &__description {
    padding: 4px 3px;
    text-align: center;
    width: 100%;
  }

  &__point {
    cursor: pointer;
    display: none;
    width: 70%;
  }

  &__group {
    height: 25px;
    display: none;
    font-size: inherit;
    width: 100%;

    textarea {
      width: 100%;
      background-color: transparent;
      color: inherit;
      border: transparent;
      text-align: center;
      font-weight: 700;
      resize: none;
      font-size: inherit;
    }
  }

  &__switch {
    display: none;
    font-size: inherit;
    &-input {
      width: 100%;
      background-color: transparent;
      border: transparent;
      text-align: center;
      font-weight: 700;
      color: inherit;
      font-size: inherit;
    }
  }

  &__modules {
    order: 1;
    width: 100%;
    text-align: center;
    display: flex;
    font-size: inherit;
  }

  &__module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: inherit;

    &-input {
      display: none;
      background-color: transparent;
      border: transparent;
      width: 90%;
      text-align: center;
      color: inherit;
      margin: 5px 3px;
      height: 13px;
      font-size: inherit;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      &::-ms-expand {
        display: none;
      }
    }
  }

  &__id {
    width: 100%;
    padding: 3px;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__description {
    width: 100%;
    display: none;
    font-size: inherit;
    textarea {
      width: 100%;
      background-color: transparent;
      color: inherit;
      border: transparent;
      text-align: center;
      resize: none;
      font-size: inherit;
    }
  }

  &__warning {
    display: flex;
    align-items: center;
    width: 100%;
    background: #f2f2f2;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    color: #000;
    font-size: inherit;
    border-radius: 5px 5px 0 0;
    order: -2;
    position: relative;
    margin-left: -1px;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      .device__warning-btn-wrapper {
        opacity: 1;
      }
    }

    textarea {
      width: 100%;
      background-color: transparent;
      text-align: center;
      resize: none;
      border: transparent;
      color: inherit;
      font-size: inherit;
      font-weight: 700;
    }

    &-hide {
      textarea {
        display: none;
      }
    }

    &-btn-wrapper {
      position: absolute;
      top: -22px;
      left: calc(50% - 10px);
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }

    &-btn {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: transparent;
      cursor: pointer;
      font-size: 18px;
      color: #7c7c7c;
    }
  }
}

.point-circle {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  &_active {
    background-color: #000;
  }
}

.sequence {
  align-items: flex-start;

  .group-devices {
    border-top: none;
  }
  .device {
    justify-content: flex-start;
  }
  .device__group {
    order: 1;
  }
  .device__modules {
    order: -1;
  }
  .device__module-input {
    order: 1;
  }
  .device__id {
    order: 0;
  }
  .device__warning {
    order: 10;
    border-radius: 0 0 5px 5px;
    border-top: none;
  }
  .warning-wrapper {
    order: 10;
    border-radius: 0 0 5px 5px;
    margin-bottom: 4px;
  }
  .device__warning-btn-wrapper {
    top: auto;
    bottom: -22px;
  }
  .rulers {
    bottom: -56px;
  }
  .ruler__input {
    top: -17px;
  }
  .devices__add {
    margin-bottom: 35px;
  }
  .devices__ruler {
    bottom: 30px;
  }
  .rulers-wrapper {
    order: -1;
    margin-top: 5px;
  }
  .devices__add-btn {
    margin-bottom: 0;
  }
  .addDeviceBefore {
    top: -40px;
    bottom: auto;
  }
}

.modulesName {
  .device__module-input {
    display: block;
    color: inherit;
  }
}

.groups {
  .device__group {
    display: block;
  }
}

.points {
  .device__point {
    display: block;
    height: 27px;
  }
}

.switches {
  .device__switch {
    display: block;
  }
}

.descriptions {
  .device__description {
    display: block;
  }
}

.rulers {
  left: 0px;
  bottom: -22px;
  display: flex;
}

.ruler {
  position: relative;
  border: none;
  border-top: 1px solid gray;
  text-align: center;
  color: gray;

  &:before {
    content: '';
    position: absolute;
    left: 0px;
    top: -5px;
    background: gray;
    width: 1px;
    height: 10px;
    z-index: 1;
  }

  &__input {
    border: none;
    text-align: center;
    color: gray;
    width: 70%;
    left: 0;
    position: absolute;
    padding-top: 1px;
    margin: 1px 15%;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__red-line {
    position: absolute;
    width: 100%;
    height: 3px;
    background: transparent;
    top: -2px;
  }
}

.palette {
  display: flex;
  align-items: flex-start;
  border-top: 1px dashed rgba(128, 128, 128, 0.578);
  margin: 0 10px;
  padding-top: 10px;
  max-width: 1070px;
  position: relative;

  &__settings {
    display: flex;
    padding: 5px;

    &-picker {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 53px;
      margin-right: 10px;
      z-index: 2;
      position: absolute;
      top: -120px;
      right: 5px;
    }

    .random-colors {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    margin: 0px 0px 2px 0px;
  }

  &__radiobuttons {
    justify-content: center;
    display: flex;
  }

  &__radiobutton {
    margin-left: 15px;
    display: flex;
    align-items: center;
    input {
      margin-right: 3px;
    }
  }

  &__colors-wrapper {
    margin: 0 20px 0 0;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 30px;
      background: rgba(128, 128, 128, 0.578);
      top: 7px;
      right: -10px;
    }
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-default {
      width: 384px;
      height: 50px;
      display: flex;
      justify-content: flex-start;
    }

    &-warnings {
      width: 189px;
    }
  }

  &__color {
    @include shadow(1px, 0.15);
    display: flex;
    flex-wrap: nowrap;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;

    &_warning {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
    }
  }

  &__colorpicker-button {
    margin: 20px 10px 0;
    padding: 2px;
    cursor: pointer;
  }
}

.theme {
  width: 162px;
}

.paper-options {
  display: flex;
  margin: 5px 20px 0;
}

.selected {
  .device__id {
    //     color: red;
    font-weight: 700;
  }
}

.hint {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;

  &__button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    font-size: 14pt;
    background: #b2d4982e;
    padding: 4px;
    color: #3a8b3bab;
    cursor: pointer;
  }

  &__window {
    position: fixed;
    bottom: 20px;
    right: -100%;
    max-width: 600px;
    background: #f2ffe9;
    color: #2b2d2bf2;
    border-radius: 10px;
    padding: 10px;
    transition: ease-in-out 0.2s;

    &-active {
      right: 52px;
    }

    &-tail {
      background: url(./images/tail.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: -4px;
      right: -13px;
      width: 20px;
      height: 20px;
    }
  }

  &__title {
    font-size: 10pt;
    margin: 0 0 10px 15px;
    font-weight: bold;
  }

  &__li {
    font-size: 10pt;
    list-style-type: circle;
    padding: 3px 0;
    margin-left: 13px;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c6c6c6;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #c6c6c6;
  opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #c6c6c6;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #c6c6c6;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #c6c6c6;
}

input::placeholder,
textarea::placeholder {
  color: #c6c6c6;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus-visible,
input:focus-visible,
.device__point:focus-visible,
.devices__add-btn:focus-visible {
  outline-style: dotted;
  border-radius: 2px;
  outline-color: rgba(106, 121, 197, 0.758);
}
.devices__add-btn:focus-visible {
  border-radius: 50%;
}
input.project-name-input:focus-visible,
input.paper-format__input,
input.modal__input {
  // тут нужно сделать нормально
  outline: none;
  outline-style: none;
}

.switch-button {
  background: #f2f2f2;
  border-radius: 3px;
  border: 1px solid gray;
  overflow: hidden;
  width: 65px;
  height: 40px;
  text-align: center;
  font-size: 8pt;
  color: #000;
  position: relative;
  align-self: center;
  margin-top: -7px;

  &:before {
    content: 'Подписи';
    position: absolute;
    bottom: 3px;
    right: 0;
    width: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  &-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked + .switch-button-label:before {
      transform: translateY(20px);
      transition: transform 200ms linear;
    }

    & + .switch-button-label {
      position: relative;
      padding: 3px 0;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: '';
        background: #fbedcb;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 3px;
        transform: translateY(0);
        transition: transform 300ms;
      }

      .switch-button-label-span {
        position: relative;
      }
    }
  }
}

.addDeviceBefore {
  position: absolute;
  top: auto;
  bottom: -40px;
  left: -11px;
  width: 20px;
  height: 20px;
  z-index: 1;

  &-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: transparent;
    cursor: pointer;
    font-size: 18px;
    color: #7c7c7c;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}

@media print {
  @page {
    size: landscape;
    margin: 10mm;
  }
  body {
    background: #fff;
  }
  .devices__add,
  .rulers-wrapper,
  .device__id-hide {
    display: none !important;
  }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: transparent !important;
    opacity: 0 !important;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: transparent !important;
    opacity: 0 !important;
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: transparent !important;
    opacity: 0 !important;
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: transparent !important;
    opacity: 0 !important;
  }
  input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    color: transparent !important;
    opacity: 0 !important;
  }

  input::placeholder,
  textarea::placeholder {
    color: transparent !important;
    opacity: 0 !important;
  }
}

.modal-overlay {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: rgba(83, 83, 83, 0.75);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal {
  @include shadow(5px, 0.15);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  min-width: 330px;
  opacity: 0;
  overflow: hidden;
  transition: 0.1s ease-in-out;

  &-active {
    opacity: 1;
  }

  &__header,
  &__body {
    margin: 10px 0 20px;
    font-size: 15px;
  }

  &__footer {
    margin: 10px 0 10px;
    display: flex;
    justify-content: flex-end;
  }

  &__input {
    padding: 3px 10px;
    font-size: 14px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid gray;
  }

  &__button {
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid gray;
    cursor: pointer;

    &:first-child {
      margin: 0 10px 0 0;
    }

    &_submit {
      background: #fbedcb;
    }
  }
}
