@function border($color) {
  @return 0.1mm solid $color;
}

$deviceBorderBlack: border(#000);
$deviceBorderWhite: border(#fff);

.black {
  .group-wrapper:first-child {
    .device__group,
    .group-devices .device:first-child {
      border-left: $deviceBorderBlack;
    }
  }
  .group-devices {
    border-top: $deviceBorderBlack;
  }
  .device__group {
    border-right: $deviceBorderBlack;
    border-top: $deviceBorderBlack;
  }
  .device {
    border: $deviceBorderBlack;
    border-left: none;
    border-top: none;
  }
  .device__module:last-child {
    border: none;
  }
  .device__id {
    border-top: $deviceBorderBlack;
  }
  .device__warning {
    // border: $deviceBorderBlack;
    border-bottom: none;
    &-hide {
      border: none;
    }
  }
  .device__module {
    border-right: $deviceBorderBlack;
  }
}

.black.sequence {
  .group-wrapper .warning-wrapper {
    border-top: $deviceBorderBlack;
  }
  .device__group {
    border-top: none;
  }
  .device {
    border-bottom: none;
    border-top: $deviceBorderBlack;
  }
  .device__id {
    border: none;
    border-bottom: $deviceBorderBlack;
  }
  .device__warning {
    border-bottom: $deviceBorderBlack;
  }
  .device__warning-hide {
    border-bottom: none;
  }
}

.black.groups {
  .group-devices {
    border-top: none;
  }
}

.white {
  .group-wrapper:first-child {
    .device__group,
    .group-devices .device:first-child {
      border-left: $deviceBorderWhite;
    }
  }
  .group-devices {
    border-top: $deviceBorderWhite;
  }
  .device__group {
    border-right: $deviceBorderWhite;
    border-top: $deviceBorderWhite;
  }
  .device {
    border: $deviceBorderWhite;
    border-left: none;
    border-top: none;
  }
  .device__module:last-child {
    border: none;
  }
  .device__id {
    border-top: $deviceBorderWhite;
  }
  .device__warning {
    border: $deviceBorderWhite;
    border-bottom: none;
    &-hide {
      border: none;
    }
  }
  .device__module {
    border-right: $deviceBorderWhite;
  }
}

.white.sequence {
  .group-wrapper .warning-wrapper {
    border-top: $deviceBorderWhite;
  }
  .device__group {
    border-top: none;
  }
  .device {
    border-bottom: none;
    border-top: $deviceBorderWhite;
  }
  .device__id {
    border: none;
    border-bottom: $deviceBorderWhite;
  }
  .device__warning {
    border-bottom: $deviceBorderWhite;
  }
  .device__warning-hide {
    border-bottom: none;
  }
}

.white.groups {
  .group-devices {
    border-top: none;
  }
}

#dpi {
  height: 1in;
  left: -100%;
  position: absolute;
  top: -100%;
  width: 1in;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  .project-name-input {
    margin-left: 5px;
    padding: 2px;
  }

  .button {
    padding: 3px;
    cursor: pointer;
  }
}

.paper-format {
  margin: 0 5px 0 0;
  width: 150px;

  &__field {
    margin: 14px 0 5px 0;
  }

  &__button {
    margin: 2px 5px;
    padding: 2px 5px;
    cursor: pointer;
  }

  &__input {
    width: 50px;
    margin: 0 0 0 5px;
    padding: 2px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.total-height {
  display: inline-block;
  margin-right: 10px;
  padding: 4px;
  background: #fbedcb;
  border-bottom: 1px dashed gray;
  &__value {
    padding: 0 3px;
  }
}

.print {
  width: 287mm;
  height: 200mm;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  // margin: 0 0 0 10px;
  margin: 0 0 0 0;
  &:hover {
    .button {
      display: block;
    }
  }
}

.devices-wrapper {
  position: relative;
  overflow-x: scroll;
  display: flex;
}

.group-wrapper {
  display: flex;
  flex-direction: column;
  border-left: none;
  margin-bottom: 10px;
  font-size: inherit;
}

.warning-wrapper {
  display: flex;
  font-size: inherit;
}

.group-devices {
  display: flex;
  flex-wrap: nowrap;
  font-size: inherit;
}

.rulers-wrapper {
  display: flex;
  margin: 20px 0 4mm 0;
}

.buttons-top {
  // margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 12px 0 0 0;

  &-wrapper {
    margin: 10px 10px 0;
    display: flex;
    flex-wrap: nowrap;
  }

  .button {
    padding: 3px;
    cursor: pointer;

    &-wrapper {
      display: inline-block;
      position: relative;
      margin: 2px;
    }

    &-tip {
      background: #fff;
      position: absolute;
      top: 25px;
      left: 0;
      padding: 1px;
      white-space: nowrap;
    }
  }
}

.buttons-container {
  display: flex;
  flex-wrap: nowrap;
  // height: 50px;

  &-document {
    flex-wrap: wrap;
    justify-content: center;
    width: 125px;
    margin-right: 3px;

    .button {
      margin: 2px;
      padding: 3px;
    }

    .project-name-input {
      padding: 2px;
      margin: 2px;
      width: 115px;
    }
  }
}

.buttons-section {
  position: relative;
  margin: 0 5px 0 0;

  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 85px;
    background: rgba(128, 128, 128, 0.578);
    top: 10px;
    right: 0;
  }

  &:last-child {
    margin: 0;
    &:after {
      display: none;
    }
  }
}

.buttons-title {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 9pt;
}

.buttons-font-size-wrapper {
  display: flex;
  flex-direction: column;
  margin: 12px 0 0 0;
}

.displaying-checkboxes {
  // width: 220px;
  margin: 6px;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}

.displaying-checkbox {
  margin: 0 5px 2px 0;
  display: inline-flex;
  cursor: pointer;

  &-input {
    margin-right: 2px;
  }
}

.buttons-file {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 12px 5px 0 0;
  width: 115px;

  .button {
    padding: 3px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
  }
}

.buttons-print {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  width: 105px;

  .button {
    margin: 2px 6px 2px 2px;
    padding: 2px;
    cursor: pointer;
  }

  .displaying-checkbox {
    margin: 4px 6px 8px 2px;
  }
}

.upload-button {
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    border-color: rgb(96, 96, 96);
    background-color: #e0e0e0;
  }
}

.upload-file-input {
  display: none;
}

.lengths {
  margin: 5px 10px 0;
}

.devices {
  // flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  background: #fff;
  padding: 10mm 5mm 20px 5mm;
  margin: 7px 10px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.11);
  -moz-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.11);
  box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.11);
  &:hover {
    .rulers {
      display: flex;
    }
    .devices__add {
      display: flex;
    }
  }

  &__add {
    align-self: center;
    &-btn {
      width: 30px;
      height: 30px;
      margin: 10px;
      margin-bottom: 60px;
      border-radius: 50%;
      border: transparent;
      cursor: pointer;
      font-size: 24px;
      color: #7c7c7c;
    }
  }

  &__ruler {
    border-bottom: 0.1mm solid gray;
    border-left: 0.1mm solid gray;
    border-right: 0.1mm solid gray;
    text-align: center;
    position: absolute;
    bottom: 35px;
    left: 5mm;
    color: gray;
    &-height {
      position: absolute;
      border-bottom: 0.1mm solid gray;
      bottom: 72px;
      left: 0;
      width: 20px;
      transform: rotate(-90deg);
      color: gray;
      // отключил пока что, в разработке
      // display: none;
    }
  }

  &__height-ruler {
    position: absolute;
    // height: 20mm;
    border-bottom: 0.1mm solid gray;
    bottom: 72px;
    left: 0;
    transform: rotate(-90deg);
    color: gray;
    z-index: 1;
  }

  .ruler:last-child:after {
    content: '';
    position: absolute;
    right: -1px;
    bottom: -6px;
    background: gray;
    width: 1px;
    height: 10px;
  }
}

.device {
  width: 18mm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  font-size: inherit;

  &__group,
  &__point,
  &__switch,
  &__description {
    padding: 7px 3px;
    text-align: center;
    width: 100%;
  }

  &__point {
    cursor: pointer;
    display: none;
    width: 70%;
  }

  &__group {
    height: 25px;
    display: none;
    font-size: inherit;
    textarea {
      width: 100%;
      background-color: transparent;
      color: inherit;
      border: transparent;
      text-align: center;
      font-weight: 700;
      resize: none;
      font-size: inherit;
    }
  }

  &__switch {
    height: 25px;
    display: none;
    font-size: inherit;
    &-input {
      width: 100%;
      background-color: transparent;
      border: transparent;
      text-align: center;
      font-weight: 700;
      color: inherit;
      font-size: inherit;
    }
  }

  &__modules {
    order: 1;
    width: 100%;
    text-align: center;
    display: flex;
    font-size: inherit;
  }

  &__module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: inherit;

    &-input {
      display: none;
      background-color: transparent;
      border: transparent;
      width: 90%;
      text-align: center;
      color: inherit;
      margin: 5px 3px;
      height: 13px;
      font-size: inherit;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      &::-ms-expand {
        display: none;
      }
    }
  }

  &__id {
    width: 100%;
    padding: 3px;
    color: gray;
    font-size: 8pt;
    display: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__description {
    width: 100%;
    display: none;
    font-size: inherit;
    textarea {
      width: 100%;
      background-color: transparent;
      color: inherit;
      border: transparent;
      text-align: center;
      resize: none;
      font-size: inherit;
    }
  }

  &__warning {
    display: flex;
    align-items: center;
    width: 100%;
    background: #f2f2f2;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    color: #eb8044;
    font-size: inherit;
    border-radius: 5px 5px 0 0;
    order: -2;
    position: relative;
    &:hover {
      .device__warning-btn {
        display: block;
      }
    }

    textarea {
      width: 100%;
      background-color: transparent;
      text-align: center;
      resize: none;
      border: transparent;
      color: inherit;
      font-size: inherit;
      font-weight: 700;
    }

    &-hide {
      textarea {
        display: none;
      }
    }

    &-btn-wrapper {
      display: flex;
      position: absolute;
      top: -18px;
      left: calc(50% - 30px);
      padding: 0 0 3px 0;
    }

    &-btn {
      width: 60px;
      display: none;
      cursor: pointer;
    }
  }
}

.point-circle {
  display: inline-block;
  border: 0.1mm solid #000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  &_active {
    background-color: #000;
  }
}

.sequence {
  align-items: flex-start;

  .group-wrapper {
    margin-bottom: 9px;
  }

  .group-devices {
    border-top: none;
  }

  .device {
    justify-content: flex-start;
    margin: 0;
  }
  .device__group {
    order: 1;
  }
  .device__modules {
    order: -1;
  }
  .device__module-input {
    order: 1;
  }
  .device__id {
    order: 0;
  }
  .device__warning {
    order: 10;
    border-radius: 0 0 5px 5px;
    border-top: none;
  }

  .warning-wrapper {
    order: 10;
    border-radius: 0 0 5px 5px;
    margin-bottom: 6mm;
  }
  .device__warning-btn-wrapper {
    top: auto;
    bottom: -20px;
  }
  .rulers {
    bottom: -56px;
  }
  .devices__add {
    margin-bottom: 35px;
  }
  .devices__ruler {
    bottom: 30px;
  }
  .rulers-wrapper {
    order: -1;
    margin-top: 5px;
  }
}

.numeration {
  .device__id {
    display: block;
    color: inherit;
  }
}

.modulesName {
  .device__module-input {
    display: block;
    color: inherit;
  }
}

.groups {
  .device__group {
    display: block;
  }
}

.points {
  .device__point {
    display: block;
    height: 27px;
  }
}

.switches {
  .device__switch {
    display: block;
  }
}

.descriptions {
  .device__description {
    display: block;
  }
}

.buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  // width: 120px;
  // margin: -59px 0 0 0;
  padding: 10px 10px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.11);
  -moz-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.11);
  box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.11);
  z-index: 1;

  .button {
    width: 120px;
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
  }

  &__title {
    border-bottom: 1px solid gray;
    margin: 10px 0 5px 0;
  }
}

.rulers {
  left: 0px;
  bottom: -22px;
  width: 101%;
  display: flex;
}

.ruler {
  position: relative;
  border: none;
  border-bottom: 0.1mm solid gray;
  text-align: center;
  color: gray;
  &:before {
    content: '';
    position: absolute;
    left: -0.1mm;
    bottom: -6px;
    background: gray;
    width: 1px;
    height: 10px;
  }
  // &:after {
  // content: '';
  // position: absolute;
  // right: -0.1mm;
  // bottom: -6px;
  // background: gray;
  // width: 0.1mm;
  // height: 10px;
  // }

  &__input {
    border: none;
    text-align: center;
    color: gray;
    width: 70%;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.palette {
  display: flex;
  // justify-content: center;
  // margin-top: 20px;
  border-top: 1px dashed rgba(128, 128, 128, 0.578);
  margin: 0 10px;

  &__settings {
    // width: 240px;
    display: flex;
    padding: 5px;

    &-picker {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 53px;
      margin-right: 10px;
    }

    &_first-col {
      // padding-left: 35px;
    }
    .random-colors {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-btn {
        padding: 3px 5px;
        background: url(../public/img/onerog.png);
        background-position: center;
        background-size: cover;
        width: 150px;
        height: 84px;
        border: transparent;
        cursor: pointer;
      }
    }
  }

  &__title {
    margin: 0px 0px 2px 5px;
  }

  &__radiobuttons {
    // margin: 0px 0px 0px 5px;
    display: flex;
  }

  &__radiobutton {
    margin-left: 15px;
    display: flex;
    align-items: center;
    input {
      margin-right: 3px;
    }
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__checkbox {
    margin-bottom: 5px;
    text-align: left;
    &-input {
      margin-right: 4px;
    }
  }

  &__colors-wrapper {
    margin: 0 20px 0 0;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 30px;
      background: rgba(128, 128, 128, 0.578);
      top: 7px;
      right: -10px;
    }

    &:last-child:after {
      // display: none;
    }
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    // margin: 10px 0;

    &-warnings {
      width: 189px;
    }
  }

  &__color {
    display: flex;
    flex-wrap: nowrap;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 0.1mm solid gray;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(34, 60, 80, 0.15);
    -moz-box-shadow: 0px 0px 7px 1px rgba(34, 60, 80, 0.15);
    box-shadow: 0px 0px 7px 1px rgba(34, 60, 80, 0.15);
    cursor: pointer;
    overflow: hidden;

    &_warning {
      height: 20px;
      width: 9.5px;
    }
  }

  &__selected-colors {
    margin: 10px 0;
    max-height: 48px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
  }

  &__border-colors {
    // margin-top: 10px;
    // display: flex;
    // align-items: center;

    &_colors {
      margin: 0;
      width: 50px;
      justify-content: space-between;
    }
  }
}

.theme {
  width: 152px;
}

.selected {
  .device__id {
    color: red;
    font-weight: 700;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c6c6c6;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #c6c6c6;
  opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #c6c6c6;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #c6c6c6;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #c6c6c6;
}

input::placeholder,
textarea::placeholder {
  color: #c6c6c6;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus-visible,
input:focus-visible,
.device__point:focus-visible,
.devices__add-btn:focus-visible {
  outline-style: dotted;
  border-radius: 2px;
  outline-color: rgba(106, 121, 197, 0.758);
}
.devices__add-btn:focus-visible {
  border-radius: 50%;
}
input.project-name-input:focus-visible,
input.paper-format__input,
input.modal__input {
  // тут нужно сделать нормально
  outline: none;
  outline-style: none;
}

.switch-button {
  background: #f2f2f2;
  border-radius: 3px;
  border: 1px solid gray;
  overflow: hidden;
  width: 65px;
  height: 40px;
  text-align: center;
  font-size: 8pt;
  color: #000;
  position: relative;
  align-self: center;

  &:before {
    content: 'Подписи';
    position: absolute;
    bottom: 3px;
    right: 0;
    width: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  &-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked + .switch-button-label:before {
      transform: translateY(20px);
      transition: transform 200ms linear;
    }

    & + .switch-button-label {
      position: relative;
      padding: 3px 0;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: '';
        background: #fbedcb;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 3px;
        transform: translateY(0);
        transition: transform 300ms;
      }

      .switch-button-label-span {
        position: relative;
      }
    }
  }
}

@media print {
  @page {
    size: landscape;
    margin: 10mm;
  }
  body {
    background: #fff;
  }
  .devices__add,
  .rulers-wrapper,
  .device__id-hide {
    display: none !important;
  }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: transparent !important;
    opacity: 0 !important;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: transparent !important;
    opacity: 0 !important;
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: transparent !important;
    opacity: 0 !important;
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: transparent !important;
    opacity: 0 !important;
  }
  input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    color: transparent !important;
    opacity: 0 !important;
  }

  input::placeholder,
  textarea::placeholder {
    color: transparent !important;
    opacity: 0 !important;
  }
}

.modal-overlay {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: rgba(83, 83, 83, 0.75);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  min-width: 330px;
  -webkit-box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.15);
  box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.15);
  // margin-top: -70%;
  opacity: 0;
  overflow: hidden;
  transition: 0.1s ease-in-out;
  &-active {
    // margin-top: 0;
    opacity: 1;
  }

  &__header,
  &__body {
    margin: 10px 0 20px;
    font-size: 15px;
  }

  &__footer {
    margin: 10px 0 10px;
    display: flex;
    justify-content: flex-end;
  }

  &__input {
    padding: 3px 10px;
    font-size: 14px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid gray;
  }

  &__button {
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid gray;
    cursor: pointer;

    &:first-child {
      margin: 0 10px 0 0;
    }

    &_submit {
      background: #fbedcb;
    }
  }
}
