@function border($color) {
  @return 0.1mm solid $color;
}

$deviceBorderBlack: border(#000);
$deviceBorderWhite: border(#fff);

.black {
  .group-wrapper:first-child {
    .device__group,
    .group-devices .device {
      border-left: $deviceBorderBlack;
    }
  }
  .group-devices {
    border-top: $deviceBorderBlack;
  }
  .device__group {
    border-right: $deviceBorderBlack;
    border-top: $deviceBorderBlack;
  }
  .device {
    border: $deviceBorderBlack;
    border-left: none;
    border-top: none;
  }
  .device__module:last-child {
    border: none;
  }
  .device__id {
    border-top: $deviceBorderBlack;
  }
  .device__warning {
    border: $deviceBorderBlack;
    border-bottom: none;
    &-hide {
      border: none;
    }
  }
  .device__module {
    border-right: $deviceBorderBlack;
  }
}

.black.sequence {
  .group-wrapper .warning-wrapper {
    border-top: $deviceBorderBlack;
  }
  .device__group {
    border-top: none;
  }
  .device {
    border-bottom: none;
    border-top: $deviceBorderBlack;
  }
  .device__id {
    border: none;
    border-bottom: $deviceBorderBlack;
  }
  .device__warning {
    border-bottom: $deviceBorderBlack;
  }
  .device__warning-hide {
    border-bottom: none;
  }
}

.black.groups {
  .group-devices {
    border-top: none;
  }
}

.white {
  .group-wrapper:first-child {
    .device__group,
    .group-devices .device {
      border-left: $deviceBorderWhite;
    }
  }
  .group-devices {
    border-top: $deviceBorderWhite;
  }
  .device__group {
    border-right: $deviceBorderWhite;
    border-top: $deviceBorderWhite;
  }
  .device {
    border: $deviceBorderWhite;
    border-left: none;
    border-top: none;
  }
  .device__module:last-child {
    border: none;
  }
  .device__id {
    border-top: $deviceBorderWhite;
  }
  .device__warning {
    border: $deviceBorderWhite;
    border-bottom: none;
    &-hide {
      border: none;
    }
  }
  .device__module {
    border-right: $deviceBorderWhite;
  }
}

.white.sequence {
  .group-wrapper .warning-wrapper {
    border-top: $deviceBorderWhite;
  }
  .device__group {
    border-top: none;
  }
  .device {
    border-bottom: none;
    border-top: $deviceBorderWhite;
  }
  .device__id {
    border: none;
    border-bottom: $deviceBorderWhite;
  }
  .device__warning {
    border-bottom: $deviceBorderWhite;
  }
  .device__warning-hide {
    border-bottom: none;
  }
}

.white.groups {
  .group-devices {
    border-top: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  .project-name-input {
    margin-left: 5px;
    padding: 2px;
  }

  .button {
    padding: 3px;
    cursor: pointer;
  }
}

.paper-format {
  margin: 0 10px 0 0;

  &__field {
    margin: 0 0 5px 0;
  }

  &__button {
    margin: 5px;
    padding: 0 5px;
    cursor: pointer;
  }

  &__input {
    width: 50px;
    margin: 0 0 0 5px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.total-height {
  display: inline-block;
  margin-right: 10px;
  padding: 4px;
  background: #fbedcb;
  border-bottom: 1px dashed gray;
  &__value {
    padding: 0 3px;
  }
}

.print {
  width: 287mm;
  height: 200mm;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 0 10px;
  &:hover {
    .button {
      display: block;
    }
  }
}

.devices-wrapper {
  overflow-x: scroll;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.11);
  -moz-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.11);
  box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.11);
}

.group-wrapper {
  display: flex;
  flex-direction: column;
  border-left: none;
  margin-bottom: 10px;
}

.warning-wrapper {
  display: flex;
}

.group-devices {
  display: flex;
  flex-wrap: nowrap;
}

.rulers-wrapper {
  display: flex;
  margin: 20px 0 4mm 0;
}

.buttons-top {
  margin: 5px 5px 5px 170px;
  .button {
    margin-right: 10px;
    padding: 3px;
    cursor: pointer;
  }
}

.upload-button {
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    border-color: rgb(96, 96, 96);
    background-color: #e0e0e0;
  }
}

.upload-file-input {
  display: none;
}

.devices {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  padding: 10mm 5mm 20px 5mm;
  background: #fff;
  &:hover {
    .rulers {
      display: flex;
    }
    .devices__add {
      display: flex;
    }
  }

  &__add {
    align-self: center;
    &-btn {
      width: 30px;
      height: 30px;
      margin: 10px;
      margin-bottom: 60px;
      border-radius: 50%;
      border: transparent;
      cursor: pointer;
      font-size: 24px;
      color: #7c7c7c;
    }
  }

  &__ruler {
    border-bottom: 0.1mm solid gray;
    border-left: 0.1mm solid gray;
    border-right: 0.1mm solid gray;
    text-align: center;
    position: absolute;
    bottom: 35px;
    left: 5mm;
    color: gray;
    &-height {
      position: absolute;
      border-bottom: 0.1mm solid gray;
      bottom: 72px;
      left: 0;
      width: 20px;
      transform: rotate(-90deg);
      color: gray;
      // отключил пока что, в разработке
      display: none;
    }
  }

  .ruler:last-child:after {
    content: '';
    position: absolute;
    right: 0mm;
    bottom: -6px;
    background: gray;
    width: 0.1mm;
    height: 10px;
  }
}

.device {
  width: 18mm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  &__group,
  &__point,
  &__switch,
  &__description {
    padding: 7px 3px;
    text-align: center;
    width: 100%;
  }

  &__point {
    cursor: pointer;
    display: none;
  }

  &__group {
    height: 25px;
    display: none;
    textarea {
      width: 100%;
      background-color: transparent;
      color: inherit;
      border: transparent;
      text-align: center;
      font-weight: 700;
      resize: none;
    }
  }

  &__switch {
    height: 25px;
    display: none;
    &-input {
      width: 100%;
      background-color: transparent;
      border: transparent;
      text-align: center;
      font-weight: 700;
      color: inherit;
    }
  }

  &__modules {
    order: 1;
    width: 100%;
    text-align: center;
    display: flex;
  }

  &__module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &-input {
      display: none;
      background-color: transparent;
      border: transparent;
      width: 40px;
      text-align: center;
      color: inherit;
      margin: 5px 3px;
      height: 13px;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      &::-ms-expand {
        display: none;
      }
    }
  }

  &__id {
    width: 100%;
    padding: 3px;
    color: gray;
    font-size: 7pt;
    display: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__description {
    width: 100%;
    display: none;

    textarea {
      width: 100%;
      background-color: transparent;
      color: inherit;
      border: transparent;
      text-align: center;
      resize: none;
    }
  }

  &__warning {
    display: flex;
    align-items: center;
    width: 100%;
    background: #f2f2f2;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    color: #eb8044;
    border-radius: 5px 5px 0 0;
    order: -2;
    position: relative;
    &:hover {
      .device__warning-btn {
        display: block;
      }
    }

    textarea {
      width: 100%;
      background-color: transparent;
      text-align: center;
      resize: none;
      border: transparent;
      color: inherit;
    }

    &-hide {
      textarea {
        display: none;
      }
    }

    &-btn-wrapper {
      display: flex;
      position: absolute;
      top: -18px;
      left: calc(50% - 30px);
      padding: 0 0 3px 0;
    }

    &-btn {
      width: 60px;
      display: none;
      cursor: pointer;
    }
  }
}

.point-circle {
  display: inline-block;
  border: 0.1mm solid #000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  &_active {
    background-color: #000;
  }
}

.sequence {
  align-items: flex-start;

  .group-wrapper {
    margin-bottom: 9px;
  }

  .group-devices {
    border-top: none;
  }

  .device {
    justify-content: flex-start;
    margin: 0;
  }
  .device__group {
    order: 1;
  }
  .device__modules {
    order: -1;
  }
  .device__module-input {
    order: 1;
  }
  .device__id {
    order: 0;
  }
  .device__warning {
    order: 10;
    border-radius: 0 0 5px 5px;
    border-top: none;
  }

  .warning-wrapper {
    order: 10;
    border-radius: 0 0 5px 5px;
    margin-bottom: 6mm;
  }
  .device__warning-btn-wrapper {
    top: auto;
    bottom: -20px;
  }
  .rulers {
    bottom: -56px;
  }
  .devices__add {
    margin-bottom: 35px;
  }
  .devices__ruler {
    bottom: 30px;
  }
  .rulers-wrapper {
    order: 11;
    margin-top: 5px;
  }
}

.numeration {
  .device__id {
    display: block;
  }
}

.modulesName {
  .device__module-input {
    display: block;
    color: inherit;
  }
}

.groups {
  .device__group {
    display: block;
  }
}

.points {
  .device__point {
    display: block;
  }
}

.switches {
  .device__switch {
    display: block;
  }
}

.descriptions {
  .device__description {
    display: block;
  }
}

.buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 120px;
  margin: 0px 10px 0 0;

  .button {
    width: 120px;
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
  }

  &__title {
    border-bottom: 1px solid gray;
    margin: 10px 0 5px 0;
  }
}

.rulers {
  left: 0px;
  bottom: -22px;
  width: 101%;
  display: flex;
}

.ruler {
  position: relative;
  border: none;
  border-bottom: 0.1mm solid gray;
  text-align: center;
  color: gray;
  &:before {
    content: '';
    position: absolute;
    left: -0.1mm;
    bottom: -6px;
    background: gray;
    width: 0.2mm;
    height: 10px;
  }
  &:after {
    // content: '';
    // position: absolute;
    // right: -0.1mm;
    // bottom: -6px;
    // background: gray;
    // width: 0.1mm;
    // height: 10px;
  }

  &__input {
    border: none;
    text-align: center;
    color: gray;
    width: 100%;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.palette {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  &__settings {
    width: 270px;
    padding: 5px;
    &_first-col {
      padding-left: 56px;
    }
  }

  &__title {
    margin: 0 0 10px 5px;
  }

  &__radiobuttons {
    margin: 10px 0 15px 5px;
    display: flex;
  }

  &__radiobutton {
    margin-right: 15px;
    display: flex;
    align-items: center;
    input {
      margin-right: 3px;
    }
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__checkbox {
    margin-bottom: 5px;
    text-align: left;
    &-input {
      margin-right: 4px;
    }
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
  }

  &__color {
    width: 20px;
    height: 20px;
    margin: 2px;
    border: $deviceBorderBlack;
    border-radius: 5px;
    cursor: pointer;
  }

  &__border-colors {
    margin-top: 20px;
  }
}

.selected {
  .device__id {
    color: red;
    font-weight: 700;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c6c6c6;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #c6c6c6;
  opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #c6c6c6;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #c6c6c6;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #c6c6c6;
}

input::placeholder,
textarea::placeholder {
  color: #c6c6c6;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus-visible,
input:focus-visible {
  outline: none;
}

.switch-button {
  background: #f2f2f2;
  border-radius: 3px;
  border: 1px solid gray;
  overflow: hidden;
  width: 65px;
  height: 40px;

  text-align: center;
  font-size: 8pt;
  color: #000;
  position: relative;
  margin-bottom: 10px;
  align-self: center;

  &:before {
    content: 'Подписи';
    position: absolute;
    bottom: 3px;
    right: 0;
    width: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  &-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked + .switch-button-label:before {
      transform: translateY(20px);
      transition: transform 200ms linear;
    }

    & + .switch-button-label {
      position: relative;
      padding: 3px 0;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: '';
        background: #fbedcb;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 3px;
        transform: translateY(0);
        transition: transform 300ms;
      }

      .switch-button-label-span {
        position: relative;
      }
    }
  }
}
